.nav-bar{
    height: 30px;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #ffffff;
}
.nav-bar>ul{
    display: flex;
    width: 35%;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: 1.5em;
    color: #8dc63f;
}
.nav-bar>ul>li:hover{
    text-decoration: underline;

}
.nav-bar>img{
    height: 70px;
}
.green-bar{
    width: 500px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 30%;
    border-radius: 20px;
    background-color:#8dc63f
}
.content-containar{
    position: relative;
    top: 90px;
    display: flex;
    flex-wrap: wrap;
    width: 66%;
    margin: 0 auto;
}
.content-containar>div{

    width: 28%;
    padding: 2%;
}
.services-icon{
    height: 30px;
    width: 40px;
    position: relative;
    left: 70px;
    bottom: 20px;
}
.dot>img{
    width: 70px;
    height: 70px;
}
.dot{
    position: fixed;
    bottom:0;
    right:0;
}